@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #f4f8ff;
  --primary-600: #7e53d4;
  --gray1-color: #646464;
  --violet1-color: #581fc1;
  --primary-black: #1d1d1d;
  --common-white: #ffffff;
}

body {
  font-family: var(--font-manrope);
  background: var(--default-color);
  color: var(--primary-black);
}
